#phototoart {
    left: -13pc;
    min-width: 60rem;
    padding-left: 23px;
    padding-right: 50px;
}
#phototoart1 {
    left: -13pc;
    min-width: 60rem;
    padding-left: 23px;
    padding-right: 50px;
}
#phototogifts {
    left: -60pc;
    min-width: 60rem;
    padding-left: 23px;
    padding-right: 50px;
}

      .c-link {
        display: block;
        margin-bottom: 15px;}

      .navbar-nav .nav-link {
        padding-left: 4.7rem !important;
        font-size: 18px !important;}

      .bg-light {
       background-color: #ffffff!important;}

       .w-25 {
       width: 12%!important;}

       .col-p{
        font-size: 13px;
top: 2px;
margin-top: 10px;
       }
       .align{
      text-align: center;
      padding:18px;
       }
       .dropdown-menu>li>a {
    word-wrap: break-word;
    white-space: normal;
}

.dropdown-menu{
    max-width: 200px;
}
@media all and (min-width: 992px) {
  .navbar{ padding-top: 0; padding-bottom: 0; }
  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; padding:20px;  }
  .navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
}
ul.menu, ol.menu, ul.blank {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-span{
  text-transform: uppercase;
border-bottom: 2px solid #f3a1b5;
line-height: 0;
text-decoration: none;
box-sizing: border-box;
position: relative;
display: inline-block;
padding-bottom: 10px;
font-size: 14px;
font-weight: 500;
}
@media screen and (max-width: 992px) {
#phototoart {
    left: -13pc;
    min-width: 100%;
    padding-left: 23px;
    padding-right: 50px;
}
}
@media screen and (max-width: 600px) {
#phototoart {
    left: -13pc;
    min-width: 100%;
    padding-left: 23px;
    padding-right: 50px;
}

#phototoart1 {
    left: -13pc;
    min-width: 100%;
    padding-left: 23px;
    padding-right: 50px;
}
}
.mobile{
  font-size: 18px;
  padding-top: 2rem;
  float: right;
  padding-right: 34px;
}
.name{
text-align: center;
font-size: 45px;
}
.name-sub{
text-align: center;
font-size: 17px;
color: #793200
}
.name-bot{
text-align: center;
font-size:10px;
}
.left-dropdown{
  left:70px;
}

@media only screen and (max-width: 599px) {
   #mob {
display: none;
     visibility: hidden;
  }
  #web3{
    display: none;
  }
  #mobwhats{
    display: block;
  }
  #mob1{
     visibility: visible;
  }
     #mobi {
display: none;
     visibility: hidden;
  }
  #mobi1{
    display: block;
     visibility: visible;
  }
  #heading{
      visibility: hidden;
      display: none;
  }
      #heading1{
      visibility: visible;
  }
}
@media only screen and (min-width: 600px) {
  #mob3{
    display: none;
  }
  #mobwhats{
    display: none;
  }

  #mob {
display: block;
visibility: visible;
    
  }
  #mob1{
    display: none;
       visibility: hidden;
  }

  #mobi{
display: block;
  visibility: visible;
    
  }
  #logo img{
    margin: 10px
  }
  #mobi1{
    display: none;
       visibility: hidden;
  }
    #heading{
      visibility: visible;
      display: block;
  }
      #heading1{
      visibility: hidden;
      display: none;
  }

}



.dropdown-menu {
    max-width: 100%;
}
#carouselExampleControls img{
  width: 100%;
  height: auto;
}
.nav-tabs {

    border-bottom: 0px solid #dee2e6;

}

.nav-tabs .nav-link.active {
    color: #49505700;
    background-color: none;
    border-color: #fff0 #dee2e600 #fff0;
}
.dropdown-item.active, .dropdown-item:active {
    color: #000 !important;
    text-decoration: none;
    background-color: #fff !important;
}



/********************* Shopping Demo-7 **********************/
.product-grid7{font-family:'Roboto Slab',serif;position:relative;z-index:1}
.product-grid7 .product-image7{border:1px solid rgba(0,0,0,.1);overflow:hidden;perspective:1500px;position:relative;transition:all .3s ease 0s}
.product-grid7 .product-image7 a{display:block}
.product-grid7 .product-image7 img{width:100%;height:auto}
.product-grid7 .pic-1{opacity:1;transition:all .5s ease-out 0s}
.product-grid7 .pic-2{opacity:0;transform:rotateY(-90deg);position:absolute;top:0;left:0;transition:all .5s ease-out 0s}
.product-grid7:hover .pic-2{opacity:1;transform:rotateY(0)}

.product-grid7 .product-new-label{color:#fff;background-color:#333;padding:5px 10px;border-radius:5px;display:block;position:absolute;top:10px;left:10px}
.product-grid7 .product-content{text-align:center;padding:20px 0 0}
.product-grid7 .title{font-size:15px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid7 .title a{color:#333}
.product-grid7 .title a:hover{color:#78e08f}

@media only screen and (max-width:990px){.product-grid7{margin-bottom:30px}
}


.product-grid-show{font-family:'Roboto Slab',serif;position:relative;z-index:1}
.product-grid-show .product-image7{border:1px solid rgba(0,0,0,.1);overflow:hidden;perspective:1500px;position:relative;transition:all .3s ease 0s}
.product-grid-show .product-image7 a{display:block}
.product-grid-show .product-image7 img{width:100%;height:auto}
.product-grid-show .pic-1{opacity:1;transition:all .5s ease-out 0s}

.product-grid-show .product-new-label{color:#fff;background-color:#333;padding:5px 10px;border-radius:5px;display:block;position:absolute;top:10px;left:10px}
.product-grid-show .product-content{text-align:center;padding:20px 0 0}
.product-grid-show .title{font-size:15px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid-show .title a{color:#333}
.product-grid-show .title a:hover{color:#78e08f}

@media only screen and (max-width:990px){.product-grid7{margin-bottom:30px}
}
/********************* Shopping Demo-6 **********************/
.product-grid6,.product-grid6 .product-image6{overflow:hidden}
.product-grid6{font-family:'Open Sans',sans-serif;text-align:center;position:relative;transition:all .5s ease 0s}
.product-grid6:hover{box-shadow:0 0 10px rgba(0,0,0,.3)}
.product-grid6 .product-image6 a{display:block}
.product-grid6 .product-image6 img{width:100%;height:auto;transition:all .5s ease 0s}
.product-grid6:hover .product-image6 img{transform:scale(1.1)}
.product-grid6 .product-content{padding:12px 12px 15px;transition:all .5s ease 0s}
.product-grid6 .title{font-size:20px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid6 .title a{color:#000}
.product-grid6 .title a:hover{color:#2e86de}

@media only screen and (max-width:990px){.product-grid6{margin-bottom:30px}
}




#myTabContent h2 {
    /*font-size:25px;*/
      justify-content: center;
    align-items: center;
    padding: 40px;
 color: #FFD24C;
    text-align: center;
}
#myTabContent h2::before,
#myTabContent h2::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid #793200;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-0.5rem);
}


#myTabContent h1 {
font-size: 20px;
justify-content: center;
align-items: center;
text-align: center;
background-color: black;
color: #fff;
padding: 10px;

}
/*h2 {
      justify-content: center;
    align-items: center;
    text-align: center;
}
h2::before,
h2::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid black;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}*/




.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255)  !important;
}
.bg-primary1 {
    background-color: #793200 !important;
}

.navbar-dark .navbar-nav .nav-link {
    /*color: rgb(255, 255, 255);*/
        color: #FFD24C !important;
  }


.dropdown-menu {
  color: #793200 !important;
background-color: #ffffff !important;

}

.dropdown-item:focus, .dropdown-item:hover {
  color: #ffd24c !important;
text-decoration: none;
background-color: #793200 !important;
}
.english{
 color: #FFD24C;
}

.whatsapp{
  color:  #25d366
}
.whatsappchat{
color: #793200;
  
}
.card1{
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 100%;
height: auto;
padding: 15px 15px 15px;
margin-top: 12px;
border: 1px solid gainsboro;
border-radius: 10px;
}
.heading-slide{
  color: #793200;
}
.btn-col-slide{
  background-color:#FFD24C;
  color: #793200
}
#myTabContent hr {
  margin-top: 0.5rem !important;
}
#myTabContent a {
  text-decoration: none;
}


/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
section.module.parallax1 {
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 8rem;
}
section.module.parallax1 h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("http://wowslider.com/sliders/demo-10/data/images/dock.jpg");
}

#parallax h3{
  color: #ffffff;
}


#parallax1 h3{
  color: #333333;
}

#parallax1:hover{
box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
margin: 15px;

}

#parallax2{
box-shadow: 1px 2px 4px 5px rgba(0,0,0,0.2);
margin: 15px;

}
#parallax2 section.module.parallax{
  height: 600px!important
}
.spec-proc{
  margin-top: 5rem;
  padding: 2rem;
}
#spec-proc li{
  text-align: justify;

}



section .section-title{
  text-align:center;
  color:#FFD24C;
  margin-bottom:50px;
  text-transform:uppercase;
}
#what-we-do{
  background:#ffffff;
}
#what-we-do .card{
  padding: 1rem!important;
  border: none;
  margin-bottom:1rem;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#what-we-do .card:hover{
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
  padding-left: 50px;
    position: relative;
}
.card-title{
  color: #793200;
}
#what-we-do .card .card-block a{
  color: #FFD24C !important;
  font-weight:700;
  text-decoration:none;
}
#what-we-do .card .card-block a i{
  display:none;
  
}
#what-we-do .card:hover .card-block a i{
  display:inline-block;
  font-weight:700;
  
}
#what-we-do .card .card-block:before{
  font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #FFD24C;
    left: 0;
  -webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f0e7";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f00c";
}

#what-we-do .card:hover .card-block:before{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);  
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#what-we-do{
  margin-top: 3rem;
  padding: 2rem;
}
.whatsappicon{
  color: #25d366;
font-size: 26px;
}